@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

:root {
  --body-text: "Poppins", sans-serif;
  font-size: 16px;
}

body,
html,
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--body-text);
}

table {
  width: 100%;
}

td {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.header {
  background-color: brown;
  color: white;
  text-align: center;
}

p {
  font-weight: 300;
}

.astrisk {
  color: red;
}

input {
  border: 1px solid black;
}
